# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore environment folders
env/
venv/

# Ignore IDE/editor folders
.vscode/
.idea/
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore temporary files
*.tmp
